@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;600;700&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

body {
    background: linear-gradient(to top, #D2E2FB 30%, #86A8DB);
    color: #333;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    transition: filter 0.3s ease; /* Add transition for filter property */
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 100px;
    padding: 0 5%;
    position: absolute;
    width: 100%;
    z-index: 100;
}

header img {
    width: 115px;
    height: 115px;
}

header nav {
    display: flex;
    gap: 30px;
}

header nav a {
    text-decoration: none;
    font-size: 20px;
    font-weight: 600;
    padding: 8px 16px;
    border-radius: 99px;
    transition: 0.3s;
    color: white;
}

header nav a.active {
    background: #5247B9;
}

header nav a:hover {
    background: #5247B9;
}

header nav:hover > a:not(:hover) {
    background: none;
}

.title-section {
    padding: 150px 5% 20px;
    position: relative;
}

.title-section h1 {
    padding: 0 5.5%;
    font-size: 36px;
    color: white;
    text-align: left;
    text-shadow: 2px 2px 8px rgba(0, 0, 0, 0.6);
}

.title-section h2 {
    padding: 0 5.5%;
    font-size: 20px;
    color: white;
    text-align: left;
    margin-bottom: 40px;
    text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.6);
}

.projects {
    padding: 0px 30% 50px 5%;
    flex: 1;
    display: flex; /* Use flexbox for layout */
    flex-direction: column; /* Stack projects vertically */
    padding: 0 10%;
}

/* Style for the short description */
.short-description {
    display: block;
    font-size: 18px;
    line-height: 1.6;
    margin-bottom: 10px;
    opacity: 1; /* Ensure short description is visible */
    transition: opacity 0.3s ease; /* Add opacity transition */
}

.project {
    background: rgba(255, 255, 255, 0.8);
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    margin-bottom: 20px;
    position: relative;
    cursor: pointer;
    transition: transform 0.3s, box-shadow 0.3s, height 0.5s; /* Add transitions for transform, box-shadow, and height */
}

.project:hover {
    transform: translateY(-5px); /* Example transformation */
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.1); /* Example box shadow */
    background-color: rgba(201, 191, 255, 0.9);
}

.project .close-btn {
    display: none;
}

.project.expanded {
    position: fixed;
    top: 50%;
    left: 50%;
    width: 80%;
    max-height: 80%;
    transform: translate(-50%, -50%); /* Remove this line or adjust it */
    z-index: 1000;
    overflow-y: auto;
    background: rgba(255, 255, 255, 1);
    padding: 40px;
    box-shadow: 0 20px 40px rgba(0, 0, 0, 0.2);
    border-radius: 20px;
    cursor: default;
    pointer-events: auto;
    padding: 30px 4% 50px 5%;
}

.project.expanded .close-btn {
    display: block;
    position: absolute;
    top: 10px;
    right: 10px;
    background: red;
    color: white;
    border: none;
    border-radius: 50%;
    width: 30px;
    height: 30px;
    cursor: pointer;
    font-size: 20px;
    text-align: center;
    line-height: 30px;
}

.project.expanded .close-btn:hover {
    background: darkred; /* Darken the background on hover */
}

.project.expanded .project-details {
    display: block; /* Display project details when expanded */
    opacity: 1;
    margin-top: 20px; /* Adjust margin top as needed */
}

#overlay {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5);
    z-index: 500;
    backdrop-filter: blur(5px); /* Apply background blur */
}

body.no-scroll {
    overflow: hidden;
}

.project-details {
    display: none; /* Initially hide project details */
    opacity: 0;
    transition: opacity 0.3s ease; /* Add opacity transition */
}

footer {
    padding: 20px;
    text-align: center;
    background: rgba(0, 0, 0, 0.8);
    color: white;
    position: relative;
    z-index: 100;
    font-size: 16px;
}
